mqttbroker:
  broker: 127.0.0.1 #This setting is overridden when running in the docker
  port: 1883
  TLS: False
  KeepAlive: 60
  mqtt-topics:
    holes:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
    lights:
      - l1
      - l2

gamesettings:
  colours:
    - red
    - green
    - blue
  nHoles: 6
  difficulty: 1
  gametime: 10
  holeconfig:
    prob_on: 0.5
    max_on_time: 5
    min_on_time: 5
    max_off_time: 5
    min_off_time: 5

logs:
  level: DEBUG


